# Ignored

10.14_introduction/Teorija/
10.15_users_groups_rights/Teorija
10.16_processes/Teorija
10.21_text_editors_archieves_scripts/Teorija
10.23_apps_servers_install/Teorija
10.24_servers_connections/Teorija
10.24_servers_connections/.ssh_copy
10.28_apache_server_environment/Teorija
10.29_Docker/Teorija